{% setcontent block = (content) returnsingle %}

<section class="pt40 pb40 bg-color text-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8 mb-sm-30 text-lg-left text-sm-center">
        <h3 class="no-bottom">{{ block | excerpt }}</h3>
      </div>
      <div class="col-md-4 text-lg-right rtl-lg-left text-sm-center">
        <a href="#" class="btn-custom btn-black light">Hacer una cita</a>
      </div>
    </div>
  </div>
</section>
