{% setcontent socials = "sociales" latest limit 6 %}

{# -- TopBar -- #}
<div id="topbar" class="topbar-noborder">
	<div class="container">
		<div class="topbar-left sm-hide">
			<span class="topbar-widget tb-social">

				{% for social in socials %}
					<a href="{{social.contentlink}}" target="_blank">
						{% if social.title == 'facebook' %}
							<i class="fa fa-facebook"></i>
						{% elseif social.title == 'twitter' %}
							<i class="fa fa-twitter"></i>
						{% elseif social.title == 'instagram' %}
							<i class="fa fa-instagram"></i>
						{% elseif social.title == 'youtube' %}
							<i class="fa fa-youtube"></i>
						{% elseif social.title == 'linkedin' %}
							<i class="fa fa-linkedin"></i>
						{% elseif social.title == 'pinterest' %}
							<i class="fa fa-pinterest"></i>
						{% else %}
							<i class="fa fa-question"></i>
						{% endif %}
					</a>
				{% endfor %}

			</span>
		</div>
		<div class="topbar-right">
			<div class="topbar-right">
				<span class="topbar-widget">
					<a href="/">Privacy policy</a>
				</span>
				<span class="topbar-widget">
					<a href="/">Request Quote</a>
				</span>
				<span class="topbar-widget">
					<a href="/">FAQ</a>
				</span>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
